<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appods">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppODS">

        <!-- Declare MainActivity with android:exported -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare MainActivity2 with android:exported -->
        <activity
            android:name=".MainActivity2"
            android:exported="true">
        </activity>
    </application>

</manifest>
